.blockMiddle span,
.blockMiddle .icon {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}
.blockMiddle :global .am-icon {
  display: inline-block;
  vertical-align: middle;
}
:global .am-list-item {
  padding: 0;
}
:global .am-list-line {
  padding: 0 20px;
}
:global .am-list-item .am-list-content {
  font-size: 30px;
  color: #33333e;
}
:global .am-list-item .am-list-content .am-icon {
  margin-right: 16px;
}
